<div class="row">

            <div class="col-sm-offset-4 col-sm-4">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="string">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="showVegetables()">Submit</button>
                          </span>
                        </div>
                     
     



                  <ul class="list-group">
                        <li class="list-group-item" *ngFor="let x of newVegetables">{{x}}</li>
                  </ul>

                  <div class="alert alert-warning" role="alert" *ngIf="errMsg">{{errMsg}}</div>


            </div>

      </div>